
	<div class="container bgwhite">
		<div class="row">
			<div class="col-md-9 border_right">
				<ul class="categorylist">
					<li><a href="index.jsp?type=0"><i class="glyphicon glyphicon-th-list"></i>全部分类</a></li>					
				</ul>
				<div class="articlelist">
				<!-- 内容 -->
				 </div>
			</div>
			<div class="col-md-3">
				<!-- 调后台方法，获得文章的发表时间，根据发表时间列出文章名 -->
				<div class="jumbotron panel blue_border_d">
					<a class="btn btn-primary btn-block" href="addblog.jsp"><i class="glyphicon glyphicon-pencil"></i> 写博客</a>
				</div>
				<div class="panel_div">
					<h3>系统公告</h3>
					<ul style="height:200px;">
						
						<li><a href="#">博客频道更新v2.3.0</a></li>
						<li><a href="#">新增博客模板</a></li>
						<li><a href="#">撰写博客高级编辑指南</a></li>
						<li><a href="#">关于博客文章的审核规定</a></li>
						<li><a href="#">博客积分策略</a></li>
						<li><a href="#">博客加精置顶的问题</a></li>
					</ul>
				</div>
				<div class="panel_div">
					<h3>最新文章推荐</h3>
					<ul>
					
					</ul>
				</div>
				<div class="panel_div">
					<h3>发博排行榜</h3>
					<ul>
					
					</ul> 
				</div>
			</div>
		</div><!-- end of row -->
	</div><!-- end of container -->
	
